#menu {
    margin-left: 20px;
    display: inline;
    padding-left: 0;
    margin-right: 100px;
    list-style-type: none;
}
#menu li {
    display: inline;
    margin-right: 10px;
}
#user {
    position: absolute;
    right: 3px;
    font-size: 1em;
    margin: 8px;
    font-weight: bold;
}
#logo {
    width:100px;
    margin-right: 30px;
    margin-top: 30px;
}
#title {
    font-family:celtic, 'Roboto', sans-serif;
    text-align: center;
    color: #000000;
    font-size:6em;
    text-shadow: 3px 2px 5px #888888;
}
#time {
    width: 6em;
}
#config, #scoreboard {
    border-radius: 2px;
    margin-top: 20px;
    padding: 20px;
    width: 240px;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.1);
}
#leftSection {
    margin: 20px;
    float: left;
}
#score {
    font-size: 3em;
}
#timeLeftBar {
    position:fixed;
    top:0;
    width:100%;
    height:20px;
    border-top-right-radius:20px;
    border-bottom-right-radius:20px;
    -webkit-transition: background-color 2s, width 0.5s;
    -moz-transition: background-color 2s, width 0.5s;
    -o-transition: background-color 2s, width 0.5s;
    transition: background-color 2s, width 0.5s;
}
#timeLeft {
    margin: 20px;
    padding: 20px;
    right:2px;
    position:absolute;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    font-size: 6em;
    -webkit-transition: background-color 2s;
    -moz-transition: background-color 2s;
    -o-transition: background-color 2s;
    transition: background-color 2s;
}
#board {
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 150px;
    width:65vh;
    height:65vh;
    float: left;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.5);
    -webkit-transition: background-color 0.4s;
    -moz-transition: background-color 0.4s;
    -o-transition: background-color 0.4s;
    transition: background-color 0.4s;
}
.goshtHole {
    top:4vh;
    left:4vh;
    width: 7.7vh;
    height: 7.7vh;
    display:inline-block;
}
.hole {
    font-size: 0;
    top:4vh;
    left:4vh;
    width: 7.7vh;
    height: 7.7vh;
    position: relative;
    -webkit-border-radius:100%;
    -moz-border-radius:100%;
    border-radius:100%;
    display:inline-block;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    -webkit-transition: box-shadow 0.1s, transform 0.1s, background-color 0.3s;
    -moz-transition: box-shadow 0.1s, transform 0.1s, background-color 0.3s;
    -o-transition: box-shadow 0.1s, transform 0.1s, background-color 0.3s;
    transition: box-shadow 0.1s, transform 0.1s, background-color 0.3s;
}
.piece {
    background-color: #FFC107;
    box-shadow: inset -5px -5px 40px rgba(0, 0, 0, 0.3), 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.piece:hover {
    background-color: #FFC107;
    z-index: 33;
    transform: scale(1.1, 1.1);
}
.pieceSelected {
    background-color: #FFC107;
    box-shadow: inset -5px -5px 40px rgba(0, 0, 0, 0.3), 10px 10px 10px rgba(0, 0, 0, 0.5);
    z-index: 33;
    transform: scale(1.1, 1.1);
}
.pieceUnselected {
    background-color: #FFC107;
    box-shadow: inset -5px -5px 40px rgba(0, 0, 0, 0.3), 5px 5px 10px rgba(0, 0, 0, 0.2);
    z-index: auto;
    transform: scale(1, 1);
}
.empty {
    background-color: #FFFFFF;
    box-shadow: inset 2px 2px 8px rgba(0, 0, 0, 0.8);
}
.shadow {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
.msg {
    position:relative;
    width: 50vw;
    height: 200px;
    min-height: 150px;
    margin-left: 25vw;
    margin-top: 35vh;
    margin-right: 25vw;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.1);
}
button, submit {
    display: inline-block;
    position: relative;
    min-width: 120px;
    height: 32px;
    line-height: 32px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: 0.9em;
    font-weight: bold;
    background-color: #FFFFFF;
    color: #646464;
    border: 0 solid;
    margin: 5px;
    cursor:pointer;
    -webkit-transition: box-shadow 0.2s, transform 0.2s, background-color 0.3s;
    -moz-transition: box-shadow 0.2s, transform 0.2s, background-color 0.3s;
    -o-transition: box-shadow 0.2s, transform 0.2s, background-color 0.3s;
    transition: box-shadow 0.2s, transform 0.2s, background-color 0.3s;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
.red {
    background-color: #F44336;
    color: #FFFFFF;
}
.blue {
    background-color: #4285F4;
    color: #FFFFFF;
}
.green {
    background-color: #4CAF50;
    color: #FFFFFF;
}
.cream {
    background-color: #FFFEEE;
}
button:hover, submit:hover {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(1.01, 1.01);
    -moz-transform: scale(1.01, 1.01);
    -ms-transform: scale(1.01, 1.01);
    -o-transform: scale(1.01, 1.01);
    transform: scale(1.01, 1.01);
    border: 0 solid;
}
button:active, submit:active {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0);
    -webkit-transform: translate(0, 2px);
    -moz-transform: translate(0, 2px);
    -ms-transform: translate(0, 2px);
    -o-transform: translate(0, 2px);
    transform: translate(0, 2px);
    border: 0 solid;
}
button:focus, input:focus, submit:focus {
    outline: 0;
}
button:disabled {
    opacity:0.2;
}
input {
    border-bottom: 1px solid;
    border-top: 0 solid;
    border-left: 0 solid;
    border-right: 0 solid;
    font-size: 1.1em;
    font-weight: bold;
}
input {
    cursor:pointer;
}
div {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
body {
    font-family:'Roboto', sans-serif;
    background: #CDDC39;
    margin:0;
    padding:0;
}
@font-face {
    font-family: Celtic;
    src: url(celtic.TTF);
}